*{
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: 'poppins';font-size: 18px;
    /* font-family: 'Source Code Pro';font-size: 18px; */
}
nav
{
    position: relative;
}
img:hover
{
    transform: scale(1.1);
    cursor: pointer;
}
nav .conta
{
    box-shadow: rgba(48, 48, 48, 0.1) 0px 2px 2px;
    position: sticky;
    top: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color:white;


    position: fixed;

    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;

    gap: 20px;

}
nav .logo .logo-img
{
    width: 150px;
    margin-left: 25px;
}
nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .conta .menu-button .menu-button-img
{
    width: 40px;
    cursor: pointer;
    padding-right: 20px;
}

ul
{
    list-style: none;
}

nav ul
{
    display: none;
}

nav .shop-numbers 
{
    display: none;
}

nav .menulinks.active {

  position: absolute;
  background-color: rgb(232, 14, 87);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  left: 0px;
  top: 0;
  padding: 20px 0px;
  transition: 0.5s ease;
  }
  
  nav .menulinks a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }



.hero
{   
    background-image: url("./images/hero-banner.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    margin-top: 70px;
    height: 600px;
    width: 100%;

    display: flex;
    text-align: left;
    
}
.hero .div1
{
    width: 480px;
    margin-left: 12%;
    margin-top: 9%;
}
.hero h3
{
  font-weight: 100;
  font-size: 30px;
}
.hero h2
{
    font-weight: 900;
    font-size: 50px;
    padding-bottom: 6px;
    padding-top: 6px;
}
.hero p
{

    font-weight: 100;
    font-size: 15px;
}
.hero button
{
    color: rgb(247, 1, 25);
    background:  rgba(239, 128, 165, 0.137) ;
    border: 2px dashed rgb(232, 14, 87);

    font-family: 'Poppins';
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 17px;

    margin-top: 25px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;

    cursor: pointer;
}
.collection
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: space-around;
    gap: 35px;

    margin: 40px;
}

.collection .cardone
{
    background-image: url("./images/collection-1.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;


    display: flex;
    flex-direction: column;
    gap:160px;

    
    text-align: center;
    align-items: center;
    justify-content: center;

    height: 60vh;
}
.collection .cardtwo
{
    background-image: url("./images/collection-2.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    gap:160px;
    
    text-align: center;
    align-items: center;
    justify-content: center;

    height: 60vh;
}
.collection .cardthree
{
    background-image: url("./images/collection-3.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    gap:160px;
    
    text-align: center;
    align-items: center;
    justify-content: center;

    height: 60vh;
}
.collection h3
{
    margin-top: 20px;
}
.collection button
{
    color: black;
    background-color: transparent;
    border: 1px solid black;

    width: 50%;

    font-weight: 200;
    letter-spacing: 2px;
    font-size: 17px;

    margin-top: 25px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;

    cursor: pointer;
}
.collection button:hover
{
    background-color: rgba(255, 255, 255, 0.094);
}

.products
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.products ul
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 20px;
    list-style: none;
    gap: 20px;
   
}
.products ul li
{
    display: flex;
    justify-content: center;
    width: 70px;
    padding: 4px;
    height: 25px;

    border-radius: 7px;
    border: thin solid rgba(159, 158, 158, 0.731);

    cursor: pointer;
}
.products #Title
{
    
    text-align: center;
    font-weight: 900;
    font-size: 35px;
    margin-top: 70px;
}
.products .text
{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    gap: 20px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    
}
.products .data
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.products .text button
{
    
    width: fit-content;
    padding: 10px;
    margin-top: 10px;
    color: rgb(232, 14, 87);
    border: 1px solid  rgb(232, 14, 87);
    border-radius: 12px;

    background-color: transparent;


    font-weight: 300;
    font-size: 15px;

    cursor: pointer;

}
.products .text button:hover
{
    background-color: rgba(246, 53, 117, 0.201);
    border: 1px solid rgb(255, 255, 255);

}
.products h2
{
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
}
.products p
{
    font-weight: 100;
    font-size: 17px;
}
.products .price
{
    font-weight: 300;
    font-size: 16px;
    color: rgb(231, 25, 94);

}

.products ul li:hover
{
    background-color: rgba(231, 25, 94, 0.121);
    color: rgb(232, 14, 87);
    border-color: white ;
}
.products .diff-products
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: space-evenly;
    gap: 40px;
    margin: 40px;
}
.products .diff-products .product img
{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.product
{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
}


.service-img
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 228, 228);
    width: 70px;
    height: 70px;
    border-radius: 100%;
}
.services 
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 50px;
    gap: 20px;
}
.service 
{
    display: flex;
    align-items: center;
    gap: 20px;
}
 
footer 
{
    padding: 50px;
    background-color: rgba(128, 128, 128, 0.192);
}
footer .social-with-logo 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.social-with-logo ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }
 .social-with-logo ul a {
    color: black;
    font-weight: bold;
    
  }
 .social-with-logo img {
    width: 150px;
  }
 .footer-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 50px 0px;
    gap: 20px;
  }
.footer-links h2 {
    margin-bottom: 15px;
  }
.footer-links ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
.newsletter form {
    margin-top: 15px;
  }
.newsletter form input {
    outline: none;
    border: none;
    border-radius: 7px;
    padding: 6px 12px;
  }
.newsletter form button {
    background-color: rgb(232, 14, 87);
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 7px;
  }

.footer-message {
    padding-top: 15px;
    border-top: 2px solid rgb(232, 14, 87);
    text-align: center;
    font-weight: 400;
  }

  @media (min-width: 767px) {
    .hero div {
      width: 40%;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        gap: 20px;
        padding: 0;
    }
    a {
        text-decoration: none;
        font-size: 17px;
        font-weight:700;
        color: black;
        padding: 10px;
      }
      a:hover
      {
        background-color: rgba(231, 25, 94, 0.121);
        color: rgb(232, 14, 87);
        border-radius: 7px;
        
      }

    nav .shop-numbers 
    {
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        gap: 10px;
        padding-right: 50px;
    
    }
    nav .shop-numbers .fav
    {
        display: flex;
        flex-direction: row;
    
    }
    nav .shop-numbers .card
    {
        display: flex;
        flex-direction: row;
    
    }
      nav .menu-button 
      {
        display: none;
      }
      nav .menu-links 
      {
        display: none;
      }
  }
  








